* {
  margin: 0;
  padding: 0;
}

div#container {
  background: #e7f4fb;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

h3 {
  font-size: 15px;
  color: black;
}

#content-1 img {
  border: 2px solid #c5c4bf;
  width: 212px;
  height: 112px;
}

#content-1 .box-1 {
  padding: 10px;
  background: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-top: 2px solid #ffa500;
}

#content-1 .box-1 p {
  padding-left: 20px;
  line-height: 24px;
}

#content-1 .box-1 p b {
  color: #0a6395;
}

#content-1 .box-2 {
  background: #fff5c5;
}

#content-1 .box-2 p {
  padding: 10px;
  color: #0a6395;
  border-bottom: 2px solid white;
}

#content-2 .box-1 {
  padding: 10px;
  background: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-top: 2px solid #ffa500;
}

#content-2 .box-1 img {
  height: 110px;
  width: 125px;
}

#content-2 .box-1 p {
  padding-top: 18px;
  line-height: 20px;
}

#content-2 .box-1 span {
  color: #808080;
}

#content-2 .box-1 a {
  color: #0a6395;
}

#content-2 .box-2 {
  position: relative;
  background: #f4f4ec;
  padding: 20px 35px;
  margin-bottom: 10px;
}

#content-2 .box-2 img {
  position: absolute;
  right: 0;
  top: -4px;
  width: 97px;
  height: 71px;
}

#content-3 .box-news {
  background: white;
  border-top: 2px solid #ffa500;
  padding: 20px 35px;
  position: relative;
  height: 100px;
}

#content-3 .box-news p {
  width: 158px;
  line-height: 20px;
  margin-bottom: 4px;
}

#content-3 .box-news img {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 120px;
}

#content-3 a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  color: #0a6395;
}

#content-4 ul {
  background: white;
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 10px;
  list-style: none;
}

#content-4 a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  color: #0a6395;
}

#content-3 {
  border-bottom: 1px solid #dadada;
  height: 170px;
}

#content-4 {
  padding-top: 10px;
}