*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

#container {
  padding-top: 50px;
  margin: 0 auto;
  width: 500px;
}

h2,h4 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.images {
  margin: auto;
  width: 500px;
}

img{
  border-radius: 10px;
  display: block;
  width: 100%;
}

.content{
  text-align: center;
}

.button {
  margin-top: 16px;
  margin-bottom: 16px;
}

button.pr-ne {
  background-color: #f1f1f1;
}

button {
	border: none;
    cursor: pointer;
	padding: 8px 10px;
	background-color: inherit;
}

.red {
	color: #fff;
    background-color: #f44336;
}

.btn:hover {
	background-color: #bfb7b7;
}






