* {
  margin: 0;
  padding: 0;
  font-size: sans-serif;
}

div#container {
  background: #121212;
  color: #505959;
}

div#header {
  background: url(images/fill_header.jpg);
  position: relative;
  height: 250px;
  margin-bottom: auto;
}

.logan {
  background: url(images/logo.jpg) no-repeat;
  position: absolute;
  top: 54px;
  left: 51px;
  width: 353px;
  height: 116px;
}

.logan h1 {
  font-style: bold;
  color: black;
  font-size: 40px;
  margin-top: 35px;
  margin-left: 95px;
}
.dot {
  color:#595959;
}

.nav {
  position: absolute;
  bottom: -57px;
  left: 68px;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-left: 2px;
}
.nav li a {
  color: white;
  font-size: 22px;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  text-align: center;
}

.body {
  margin-top: 114px;
  margin-left: 70px;
  width: 672px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-bottom: 1px dotted #323232;
}

.sidebar {
  box-sizing: border-box;
  background: #1f1f1f;
  padding: 50px 35px;
  height: 450px;
}

.sidebar-up {
  border-top: 1px solid #7e7e7e;
  padding-top: 30px;
  padding-bottom: 70px;
}

.sidebar-down {
  border-top: 1px solid #2c2c2c;
  padding-top: 30px;
}

.sidebar-down li {
  margin-left: 26px;
}

.sidebar-down li:before {
  content: "";
  border-color: transparent #707070;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.sidebar-down li a {
  color: #707070;
  line-height: 18px;
}

.sidebar-down ul {
  list-style-type: none;
}

.footer {
  margin-left: 50px;
  padding: 20px;
  color: #404242;
}

div#content {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.content-box {
  margin-bottom: 60px;
}

#content input[type="text"] {
  background: #2c2c2c;
  border: none;
  padding: 6px;
  margin: 15px 20px;
}

a.web-info {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  color: white;
  display: block;
  margin: 15px 20px;
}

a.web-info:before {
  content: url(images/arr_1.gif);
  padding: 5px;
}

#content p {
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #323232;
}

.footer a {
  color: #7e7e7e;
}
