* {
  margin: 0;
  padding: 0;
}

div#container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #0033FF;
}

body {
  font-family: Georgia,"Times New Roman", Times, serif;
}
/*profile-player*/
.profile .title {
  background: url(images/title_background.gif) repeat-x;
  height: 25px;
  line-height: 25px;
}

.title span {
  font-weight: bold;
}

.title-facts span {
  font-weight: bold;
}

.player-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.player-info img {
  width: 100px;
  height: 90px;
}

.info {
  margin-left: 15px;
  height: 100px;
  width: 100%;
  overflow: auto;
}

.info ul {
  list-style: none;
}

/*facts*/
.facts .title {
  font-weight: bold;
}

.facts ul {
  list-style: none;
  margin-left: 40px;
}

.facts ul li {
  padding: 4px 0;
}

.facts ul li:before {
  content: url('images/star.gif');
  margin-right: 2px;
}

/*post*/

.post {
    margin-top: 40px;
    padding: 4px;
}

.post-author a {
  text-decoration: none;
  color: #5b98d1;
}

span.post-author {
  margin-left: 16%;
  display: block;
  padding: 1px;
}

.post-contain {
  background: #ECECEC;
  padding: 4px 6px;
}

.post-contain:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ECECEC;
  top: 100%;
  left: 10%;
}
.post-contain {
  position: relative;
}

.comment h3 {
  text-align: center;
}

.comment {
  padding: 20px 6px;
}













