*{
	margin:0;
	padding:0;
}
body {
	font-family: arial;
	font-size: 0.6875em;
}

.content {
	margin-left: 20px;
	padding-right: 10px;
}

div#container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 26px 25px;
	margin: 0 auto;
	width: 1000px;
	color: #797782;
	background:#121214;
}
.content-box {
	margin-top:5px;
	overflow: auto;
    border-bottom: 1px dotted #3f3f41;
    padding: 12px 0px;
}

.content h4{
	color:#ffffff;
	height:40px;
}


.content span {
	margin-top: 36px;
    line-height: 15px;
}

span {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.content-box img {
	float:left;
	margin-right:14px;
}

.up p {
	height: 50px;
}

.left {
	padding-top:20px;
	width: 450px;
	float: left;
	margin-left:20px;
}

.right {
  float: left;
  background: #232227;
  width: 196px;
  height: 300px;
  padding: 50px 19px 20px 40px;
  margin-left: 30px;
}

a.info {
	text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
}

a.info:before{
	content: url(images/arr_1.gif);
	margin-right: 4px;
}

.down {
	margin-top: 50px;
}

.down.title {
	height: 40px;
}

.white {
	color: white;
    padding-bottom: 4px;
}

/*p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}*/

.left-list {
	margin-left: 15px;
    float: left;
    width: 45%;
	color: #797782;
}

ul {
    list-style: none;
	color: #797782;
}

.right-list {
	float: left;
}

li a{
  color: #9494a0;
  -webkit-text-decoration: underline;
  -moz-text-decoration: underline;
  -ms-text-decoration: underline;
  -o-text-decoration: underline;
  text-decoration: underline;
}

li:before {
  content: "";
  border-color: rgba(107, 76, 76, 0) #838080;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.box-right {
	border-top: 1px solid #353439;
    padding: 18px 0;
    margin-top: 15px;
}

.text{
	margin-top:20px;
	margin-bottom:40px;
}






















